//showcase
#showcase {
    .showcase-flex {
        display: block;
    }
}

//about
#about {
    .about-flex {
        display: block;
    }
    .about-skills-flex {
        display: block;
    }
    .about-timelie-flex {
        display: block;
    }
}

//portfolio
#portfolio {
    .portfolio.flex {
        display: block;
    }
}