//mainheader
#mainheader {
    .navbar {
        .logo {
            display: block;
            text-align: center;
            margin: 0 auto;
            padding-top: 2rem;
        }
        ul {
            display: block;
        }
        li {
            text-align: center;
            font-size: small;
        }
        .container {
            display: block;
        }
    }
}
//showcase
#showcase {
    .showcase-flex {
        margin-top: 0;
        display: block;
        .showcase-text {
            h1 {
        
                text-align: center;
                font-size: 3rem;
            }
            h3 {
                font-size: medium;
                margin: 2rem 0;
            }
           
        }
        img {
            width: 100%;
        }
    }
}

//about
#about {
    .about-flex {
        display: block;
    }
    .about-skills-flex {
        display: block;
    }
    .about-timelie-flex {
        display: block;
    }
}

//portfolio
#portfolio {
    .porfolio-flex {
        display: block;
    }
}